<h2>My books</h2>

<input #bookName placeholder="name" (keyup)="onKey(bookName.value)"/>
<ul>
  <li *ngFor="let book of books;">
    <input type="checkbox" [checked]="book.checked" (click)="select(book.id, $event.target.checked)" >
    <span>{{book.name}}</span>
  </li>
</ul>

<div class="selectize-control demo-default multi">
  <div class="selectize-input items not-full has-options has-items">
    <div class="item" *ngFor="let book of books;">{{book.name}}</div>
    <input type="text" autocomplete="off" tabindex="" id="input-tags-selectized">
</div>


<br>
<br>

<input #newBook placeholder="add book"/><br>
<button (click)="add(newBook.value)">submit</button>

<br>
<br>



<input id="bookAdd" type="text" #bookAdd placeholder="to add" value={{addedBooksValue}} (keyup.enter)="onAdd(bookAdd.value)" (keyup.backspace)="onRemove()">