<h2>My books</h2>

<input #bookName placeholder="name" (keyup)="onKey(bookName.value)"/>
<ul>
  <li *ngFor="let book of books;">
    <input type="checkbox" [checked]="book.checked" (click)="select(book.id, $event.target.checked)" >
    <span>{{book.name}}</span>
  </li>
</ul>

<div class="selectize-control demo-default multi">
  <div class="selectize-input items not-full has-options has-items">
    <div class="item" *ngFor="let book of books;" (click)="select(book.id)">
       {{book.name}}
    </div>
    <input id="bookAdd" type="text" #bookAdd placeholder="to add" id="input-tags-selectized" (keyup.enter)="onAdd(bookAdd.value); bookAdd.value = ''" (keyup.backspace)="onRemove()">
  </div>
</div>